@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons';
@import 'modern-normalize';
@import './helpers';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.no-scroll {
  @include no-scroll;
}
