@import 'helpers';

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  @include no-scroll;
}

.graphics-wrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  img {
    object-fit: cover;
    object-position: center;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, $body-bg 50%, rgba($body-bg, 0.2) 70%, transparent 80%);
  z-index: -1;
}

.children-wrapper {
  background-color: $body-bg;
  width: 50%; // 360px
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &_children {
    width: 25rem; // 400px
    max-width: 100%;
    padding: map-get($spacers, 4);
  }
}
