@import 'helpers';

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  @include no-scroll;
}

.graphics-wrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  @include media-mobile-and-tablet {
    position: relative;
    inset: unset;
    width: 100%;
    height: 30%;
  }

  img {
    object-fit: cover;
    object-position: center;
  }

  &_overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to left, $body-bg 50%, rgba($body-bg, 0.4) 65%, transparent 80%);
    pointer-events: none;
    z-index: 2;

    @include media-mobile-and-tablet {
      background: linear-gradient(to top, $body-bg 0%, rgba($body-bg, 0.4) 15%, transparent 50%) !important;
    }
  }
}

.children-wrapper {
  width: 50%;
  min-height: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-bg;

  @include media-mobile-and-tablet {
    width: 100%;
    min-height: unset;
    margin-left: 0;
    margin-top: map-get($spacers, 3);
  }

  &_children {
    width: 25rem; // 400px
    max-width: 100%;
    padding: map-get($spacers, 4);
  }
}
